.vscode/settings.json
*.wav
/app/.cache
*.txt
*.mp3
/app/cache/__pycache__
/app/comfyui/ComfyUI
/app/comfyui/python_embeded
/app/config/__pycache__
/app/comfyui/update
/app/models/__pycache__
*.pt
/app/servers/__pycache__
/app/servers/models/__pycache__
/app/servers/routers/__pycache__
/app/servers/services/__pycache__
/app/servers/utils/__pycache__
/app/util/__pycache__
/app/util/uvr5/__pycache__
*.pth
app/comfyui/run_nvidia_gpu.bat
app/comfyui/ComfyUI.lnk
/app/comfyui/python_embeded
/app/cache/__pycache__
*.pyd
*.pyc
/app/.cache
/app/comfyui/python_embeded
